/* Nav wrapper */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 46px;
}

.frame {
  height: 25.500045776367188px;
  width: 131.7594451904297px;
  left: 0px;
  top: 7.249977111816406px;
  border-radius: 0px;
  padding: 1px, 8px, 1px, 8px;
}

.right-side {
  height: 40px;
  width: 137px;
  left: 1163px;
  top: 0px;
  border-radius: 0px;
}

.buttons {
  height: 40px;
  width: 137px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

Link {
  text-decoration: none;
}
